@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap");
@import url("https://rsms.me/inter/inter-ui.css");
*,
*::before,
*::after,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  border: 20px solid transparent;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body span,
body li {
  font-family: "Inter UI", "Poppins", Arial, sans-serif;
}

body::before, body::after {
  z-index: 100;
  content: "";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border: inherit;
  border-bottom-width: 0;
  border-color: #008080;
  will-change: border-color;
  -webkit-transition: border-width 0.4s cubic-bezier(0.18, 0.98, 0.45, 1), border-color 1s cubic-bezier(0.18, 0.98, 0.45, 1);
  transition: border-width 0.4s cubic-bezier(0.18, 0.98, 0.45, 1), border-color 1s cubic-bezier(0.18, 0.98, 0.45, 1);
}

body p {
  color: #454545;
  font-size: 1em;
}

body:after {
  border-width: 0;
  border-bottom-width: calc(var(--body-border-width, 20px) * 1 / 1 + 0px);
}

p,
span,
li {
  color: #c4c4c4;
  font-weight: 300;
}

h1 {
  color: #000;
}

a {
  color: #00ffff;
}

a:hover {
  text-decoration: none;
  color: #008080;
}

.btn-primary {
  font-family: "Inter UI", "Poppins", Arial, sans-serif;
}

.hero {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.hero .hero-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-wrapper .hero-text-wrapper h1 {
  font-weight: 700;
  font-size: 4.25em;
}

.hero .hero-wrapper .hero-text-wrapper h3 {
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

.hero .hero-wrapper .hero-text-wrapper .about-p {
  font-size: 1.188em;
  line-height: 1.875em;
  font-weight: 400;
  margin-bottom: 1em;
}

.hero .hero-wrapper .hero-text-wrapper .btn-primary {
  padding: 15px 40px;
  background-color: transparent;
  color: #008080;
  border-color: #008080;
}

.hero .hero-wrapper .hero-text-wrapper .btn-primary:hover {
  background-color: #008080;
  color: #fff;
  border-color: #008080;
}

.hero .hero-wrapper .hero-img-wrapper img {
  float: right;
  width: 418px;
  -o-object-fit: cover;
     object-fit: cover;
}

.sub-hero-section {
  min-height: 100vh;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}

.sub-hero-section h1,
.sub-hero-section h2,
.sub-hero-section h3,
.sub-hero-section h4,
.sub-hero-section h5,
.sub-hero-section h6 {
  color: #000;
}

.sub-hero-section .w-row .basic-column {
  padding-right: 5px;
  padding-left: 5px;
}

.sub-hero-section .w-row .basic-column .tag-wrapper {
  margin-top: 35px;
  margin-bottom: 35px;
  padding-right: 5px;
  padding-left: 5px;
}

.sub-hero-section .w-row .basic-column .tag-wrapper .card {
  height: 340px;
  padding: 30px;
  border-radius: 8px;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
}

.sub-hero-section .w-row .basic-column .tag-wrapper .card:hover {
  -webkit-box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.sub-hero-section .w-row .basic-column .tag-wrapper .tagline.white-hero-tagline {
  margin-bottom: 10px;
  color: #fff;
}

.sub-hero-section .w-row .basic-column .tag-wrapper .tagline {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.sub-hero-section .w-row .basic-column .tag-wrapper .card-headline {
  margin-top: 10px;
  color: #fff;
}

.sub-hero-section .w-row .basic-column .tag-wrapper h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
}

.sub-hero-section .w-row .basic-column .tag-wrapper .button.default-button.card-cta {
  position: absolute;
  left: 30px;
  bottom: 20px;
  display: block;
}

.sub-hero-section .w-row .basic-column .tag-wrapper .button.default-button {
  -ms-flex-align: end;
  -webkit-box-align: end;
          align-items: flex-end;
  background-color: #fff;
  -webkit-transition: color 200ms ease, background-color 200ms ease, box-shadow 200ms ease;
  -webkit-transition: color 200ms ease, background-color 200ms ease, -webkit-box-shadow 200ms ease;
  transition: color 200ms ease, background-color 200ms ease, -webkit-box-shadow 200ms ease;
  transition: color 200ms ease, background-color 200ms ease, box-shadow 200ms ease;
  transition: color 200ms ease, background-color 200ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
  color: #5b697a;
}

.sub-hero-section .w-row .basic-column .tag-wrapper .button {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 9px 25px;
  float: none;
  border-radius: 4px;
  background-color: #1991eb;
  color: #fff;
  line-height: 22px;
}

.sub-hero-section .w-row .basic-column .tag-wrapper .card.card1-content {
  position: relative;
  background-image: url("https://bit.ly/34GIdHi");
  background-position: 50% 50%;
  background-size: cover;
}

.sub-hero-section .w-row .basic-column .tag-wrapper .card.card2-content {
  background-image: url("https://bit.ly/2EIMf6M");
  background-position: 50% 50%;
  background-size: cover;
}

.sub-hero-section .w-row .basic-column .tag-wrapper .card.card3-content {
  background-image: url("https://bit.ly/2QubyMv");
  background-position: 50% 50%;
  background-size: cover;
}

.sub-hero-section .w-row .w-col {
  position: relative;
  float: left;
  min-height: 1px;
}

.sub-hero-section .w-row .w-col-3 {
  width: 25%;
}

.sub-hero-section .w-row .w-col-6 {
  width: 50%;
}

@media only screen and (min-width: 300px) and (max-width: 374px) {
  .hero .hero-wrapper .hero-text-wrapper {
    padding-top: 150px;
  }
  .hero .hero-wrapper .hero-text-wrapper h1 {
    font-size: 2.813em;
    line-height: 1.3em;
  }
  .hero .hero-wrapper .hero-text-wrapper .about-p {
    font-size: 1em;
    line-height: 2em;
  }
  .hero .hero-wrapper .hero-img-wrapper {
    padding-left: 15px;
    margin-top: 50px;
  }
  .hero .hero-wrapper .hero-img-wrapper img {
    float: none;
    width: 100%;
  }
  .sub-hero-section {
    padding: 10px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 413px) {
  .hero .hero-wrapper .hero-text-wrapper {
    padding-top: 150px;
  }
  .hero .hero-wrapper .hero-text-wrapper h1 {
    font-size: 2.813em;
    line-height: 1.3em;
  }
  .hero .hero-wrapper .hero-text-wrapper .about-p {
    font-size: 1em;
    line-height: 2em;
  }
  .hero .hero-wrapper .hero-img-wrapper {
    padding-left: 15px;
    margin-top: 50px;
  }
  .hero .hero-wrapper .hero-img-wrapper img {
    float: none;
    width: 100%;
  }
  .sub-hero-section {
    padding: 10px;
  }
}

@media only screen and (min-width: 414px) and (max-width: 812px) {
  .hero .hero-wrapper .hero-text-wrapper {
    padding-top: 150px;
  }
  .hero .hero-wrapper .hero-text-wrapper h1 {
    font-size: 2.813em;
    line-height: 1.3em;
  }
  .hero .hero-wrapper .hero-text-wrapper .about-p {
    font-size: 1em;
    line-height: 2em;
  }
  .hero .hero-wrapper .hero-img-wrapper {
    padding-left: 15px;
    margin-top: 50px;
  }
  .hero .hero-wrapper .hero-img-wrapper img {
    float: none;
    width: 100%;
  }
  .sub-hero-section {
    padding: 10px;
  }
}
/*# sourceMappingURL=styles.css.map */