@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap");
@import url("https://rsms.me/inter/inter-ui.css");
@media screen and (min-width: 1024px) {
  html {
    scroll-behavior: smooth;
  }
}

*,
*::before,
*::after,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body span,
body li {
  font-family: "Inter UI", "Poppins", Arial, sans-serif;
}

body li {
  color: #c4c4c4;
  font-weight: 300;
}

body a {
  color: #5a5a5a;
}

body .btn-primary {
  font-family: "Inter UI", "Poppins", Arial, sans-serif;
  padding: 15px 40px;
  background-color: transparent;
  color: #2758e9;
  border-color: #2758e9;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-duration: 3.6s;
          animation-duration: 3.6s;
}

body .btn-primary:hover {
  background-color: #2758e9;
  color: #fff;
  border-color: #2758e9;
}

body .hero-a-link {
  color: #2758e9;
}

body .hero-a-link:hover {
  text-decoration: none;
}

.section-in-view {
  border: 15px solid transparent;
}

.section-in-view::before, .section-in-view::after {
  z-index: 100;
  content: "";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border: inherit;
  border-bottom-width: 0;
  border-color: #2758e9;
  will-change: border-color;
  -webkit-transition: border-width 0.4s cubic-bezier(0.18, 0.98, 0.45, 1), border-color 1s cubic-bezier(0.18, 0.98, 0.45, 1);
  transition: border-width 0.4s cubic-bezier(0.18, 0.98, 0.45, 1), border-color 1s cubic-bezier(0.18, 0.98, 0.45, 1);
}

.section-in-view::after {
  border-width: 0;
  border-bottom-width: calc(var(--body-border-width, 15px) * 1 / 1 + 0px);
}

.section-one-scrolled::before, .section-one-scrolled::after {
  border-color: #edcbbe;
  -webkit-transition: border-width 0.4s cubic-bezier(0.18, 0.98, 0.45, 1), border-color 1s cubic-bezier(0.18, 0.98, 0.45, 1);
  transition: border-width 0.4s cubic-bezier(0.18, 0.98, 0.45, 1), border-color 1s cubic-bezier(0.18, 0.98, 0.45, 1);
}

.section-services-scrolled::before, .section-services-scrolled::after {
  border-color: #008aae;
  -webkit-transition: border-width 0.4s cubic-bezier(0.18, 0.98, 0.45, 1), border-color 1s cubic-bezier(0.18, 0.98, 0.45, 1);
  transition: border-width 0.4s cubic-bezier(0.18, 0.98, 0.45, 1), border-color 1s cubic-bezier(0.18, 0.98, 0.45, 1);
}

.standard {
  position: relative;
  padding-left: 3px;
  display: inline-block;
}

.standard::after {
  content: "";
  display: block;
  width: 20%;
  height: 8px;
  background: #ffe4e1;
  opacity: 0;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: -8px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: -2;
}

.standard:hover::after {
  opacity: 1;
  width: 100%;
}

.my-name {
  color: #4d5154;
  -webkit-animation: fadeInUp;
          animation: fadeInUp;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.job-role {
  margin-bottom: 1.875em;
  color: #7a7c7f;
  -webkit-animation: fadeInUp;
          animation: fadeInUp;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
}

.about-p {
  font-size: 1.188em;
  line-height: 1.5em;
  font-weight: 400;
  margin-bottom: 1em;
  color: #5a5a5a;
  -webkit-animation: fadeInUp;
          animation: fadeInUp;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
}

.hero {
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 100vh;
  max-width: 1024px;
  margin: auto;
}

.hero .hero-wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  gap: 5px;
}

.hero .hero-wrapper .hero-text-wrapper {
  width: 100%;
}

.hero .hero-wrapper .hero-text-wrapper h1 {
  font-weight: 700;
  font-size: 4.25em;
}

.hero .hero-wrapper .hero-text-wrapper h3 {
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

.hero .hero-wrapper .hero-text-wrapper .about-p {
  max-width: 56.25ch;
}

.hero .hero-wrapper .hero-img-wrapper {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.hero .hero-wrapper .hero-img-wrapper img {
  float: right;
  -o-object-fit: cover;
     object-fit: cover;
  width: 250px;
  height: 250px;
}

.welcome-hero {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.welcome-hero div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #000), color-stop(50%, transparent));
  background: linear-gradient(to top, #000 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: bottom left;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

/* animation keyframes */
@-webkit-keyframes zeroHeight {
  to {
    width: 0;
    height: 0;
  }
}
@keyframes zeroHeight {
  to {
    width: 0;
    height: 0;
  }
}

.zero-height {
  -webkit-animation-name: zeroHeight;
          animation-name: zeroHeight;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
  -webkit-transition: all ease-in-out;
  transition: all ease-in-out;
}

@-webkit-keyframes openerAnimation {
  to {
    background-position: top left;
  }
}

@keyframes openerAnimation {
  to {
    background-position: top left;
  }
}

.slide-down {
  -webkit-animation-name: openerAnimation;
          animation-name: openerAnimation;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.animate-duration-1s {
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

.animate-duration-2s {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.animate-duration-3s {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.animate-duration-4s {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.services {
  position: relative;
  padding: 120px 0;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #fff7f4;
}

.services h2 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 30px;
}

.services h4 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;
}

.services .about-p {
  margin-bottom: 30px;
}

.services .hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .hero-wrapper .hero-img-wrapper img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.projects-section {
  position: relative;
  background-color: #f3fdff;
}

.projects-section .projects-grid-wrapper .section-header h1 {
  padding: 120px 0 0 0;
  font-weight: 400;
  font-size: 4.25em;
}

.projects-section .projects-grid-wrapper .prev-work-container-scroll {
  height: 750px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.projects-section .projects-grid-wrapper .prev-work-container-scroll::-webkit-scrollbar {
  display: none;
}

.projects-section .projects-grid-wrapper .prev-work-container-scroll .previous-work {
  position: relative;
  padding: 20px 20px 55px 20px;
}

.projects-section .projects-grid-wrapper .prev-work-container-scroll .previous-work:first-child {
  padding-top: 50px !important;
}

.projects-section .projects-grid-wrapper .prev-work-container-scroll .previous-work .prev-work-detail {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-section .projects-grid-wrapper .prev-work-container-scroll .previous-work .prev-work-detail .prev-h2-title {
  color: #008aae;
}

.projects-section .projects-grid-wrapper .prev-work-container-scroll .previous-work .prev-work-detail .date-class {
  margin-bottom: 10px;
  display: block;
}

.projects-section .projects-grid-wrapper .prev-work-container-scroll .previous-work .prev-work-detail p {
  margin-bottom: 25px;
}

.projects-section .projects-grid-wrapper .prev-work-container-scroll .previous-work .prev-work-img-right {
  position: relative;
}

.projects-section .projects-grid-wrapper .prev-work-container-scroll .previous-work .prev-work-img-right img {
  width: 80%;
}

.experiences-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experiences-section .experiences-grid-container {
  width: 100%;
}

.experiences-section .experiences-grid-container #work-experience .blocks {
  margin: 1rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.experiences-section .experiences-grid-container #work-experience .blocks .experience-block .company {
  font-family: "Inter UI", "Poppins", Arial, sans-serif;
  font-size: 20px;
  color: #2758e9;
  line-height: 29px;
  font-weight: 600;
  margin: 0;
  text-decoration: none;
}

.experiences-section .experiences-grid-container #work-experience .blocks .experience-block .company:hover {
  opacity: 0.7;
  cursor: pointer;
}

.experiences-section .experiences-grid-container #work-experience .blocks .experience-block .title {
  opacity: 0.9;
  font-weight: 400;
  margin: 2px 0 0;
}

.experiences-section .experiences-grid-container #work-experience .blocks .experience-block .date {
  margin-top: 2px;
  font-size: 14px;
  opacity: 0.7;
}

.slim-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slim-wrapper h5 {
  padding-top: 4em;
  color: #2f4f4f;
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  width: 65%;
}

footer {
  padding: 50px 15px;
  background-color: #f3fdff;
}

footer .ftr-container .ftr-row h6 {
  font-size: 12px;
  color: #789;
  letter-spacing: 1.5px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 16px;
  text-transform: uppercase;
}

footer .ftr-container .ftr-row h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Averia Gruesa Libre, serif;
  color: #192735;
  text-decoration: none;
  font-size: 48px;
  font-weight: 600;
}

footer .ftr-container .ftr-row .email {
  font-weight: 500;
  text-decoration: none;
  color: #192735;
  font-size: 20px;
  line-height: 20px;
  margin-top: 16px;
}

footer .ftr-container .ftr-row .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .ftr-container .ftr-row .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .ftr-container .ftr-row .links ul li {
  margin-right: 10px;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 812px) {
  .hero .hero-wrapper {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .hero .hero-wrapper .hero-text-wrapper {
    padding: 25px;
  }
  .hero .hero-wrapper .hero-text-wrapper h1 {
    font-size: 2.813em;
    line-height: 1.3em;
  }
  .hero .hero-wrapper .hero-text-wrapper .about-p {
    font-size: 1em;
    line-height: 2em;
  }
  .hero .hero-wrapper .hero-img-wrapper {
    display: none;
  }
  .hero .hero-wrapper .hero-text-wrapper.mobile {
    padding-top: 0;
  }
  .prj-row {
    margin-bottom: unset !important;
  }
  .projects-section .projects-grid-wrapper .section-header h1 {
    font-size: 2.813em;
  }
  .projects-section .projects-grid-wrapper .prev-work-container-scroll .previous-work .prev-work-img-right img {
    width: 100%;
    margin-top: 30px;
  }
  .experiences-seciton {
    height: 100%;
  }
  .experiences-seciton .experiences-grid-container #work-experience .blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .experiences-seciton .experiences-grid-container #work-experience .blocks .experience-block {
    text-align: center;
    margin-bottom: 35px !important;
  }
  .slim-wrapper h5 {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */