@media screen and(min-width: 1024px) {
    html {
        scroll-behavior: smooth;
    }
}

$font-family: "Inter", "Poppins", Arial, sans-serif;
$section-bg-color-light-blue: #f3fdff;
$border-color-hero: #008aae;
$border-color-services: #edcbbe;
$alt-link-color: #2758e9;
$grey-var-1: #4d5154;
$grey-var-2: #7a7c7f;
$grey-var-3: #5a5a5a;
*,
*::before,
*::after,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    li {
        font-family: $font-family;
    }
    li {
        color: #c4c4c4;
        font-weight: 300;
    }

    a {
        color: $grey-var-3;
    }

    .btn-primary {
        font-family: $font-family;
        padding: 15px 40px;
        background-color: transparent;
        color: $border-color-hero;
        border-color: $border-color-hero;

        animation-name: fadeInUp;
        animation-duration: 3.6s;
        &:hover {
            background-color: $border-color-hero;
            color: #fff;
            border-color: $border-color-hero;
        }
    }

    .hero-a-link {
        color: $border-color-hero;

        &:hover {
            text-decoration: none;
        }
    }
}

.section-in-view {
    border: 15px solid transparent;

    &::before,
    &::after {
        z-index: 100;
        content: "";
        user-select: none;
        pointer-events: none;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        border: inherit;
        border-bottom-width: 0;
        border-color: $border-color-hero;
        will-change: border-color;
        transition: border-width 0.4s cubic-bezier(0.18, 0.98, 0.45, 1), border-color 1s cubic-bezier(0.18, 0.98, 0.45, 1);
    }
    &::after {
        border-width: 0;
        border-bottom-width: calc(var(--body-border-width, 15px) * 1 / 1 + 0px);
    }
}

.section-one-scrolled {
    &::before,
    &::after {
        border-color: $border-color-services;
        transition: border-width 0.4s cubic-bezier(0.18, 0.98, 0.45, 1), border-color 1s cubic-bezier(0.18, 0.98, 0.45, 1);
    }
}

.section-services-scrolled {
    &::before,
    &::after {
        border-color: $alt-link-color;
        transition: border-width 0.4s cubic-bezier(0.18, 0.98, 0.45, 1), border-color 1s cubic-bezier(0.18, 0.98, 0.45, 1);
    }
}


.standard {
    position: relative;
    padding-left: 3px;
    display: inline-block;
    &::before {
        content: "";
        display: block;
        width: 20%;
        height: 8px;
        background: #ff5ee98f;
        opacity: 0;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        bottom: -8px;
        transform: translateY(50%);
        transition: all 0.3s ease;
        z-index: -2;
    }
    &:hover {
        &::before {
            opacity: 1;
            width: 100%;
        }
    }
}

.my-name {
    color: $grey-var-1;
    animation: fadeInUp;
    animation-duration: 3s;
}
.job-role {
    margin-bottom: 1.875em;
    color: #7a7c7f;
    animation: fadeInUp;
    animation-duration: 3.5s;
}

.about-p {
    font-size: 1.188em;
    line-height: 1.5em;
    font-weight: 400;
    margin-bottom: 1em;
    color: $grey-var-3;

    animation: fadeInUp;
    animation-duration: 3.5s;
}

.hero {
    position: relative;
    display: grid;
    place-items: center;
    min-height: 100vh;
    max-width: 1024px;
    margin: auto;
    .hero-wrapper {
        width: 100%;
        display: grid;
        place-items: center;
        grid-template-columns: 70% 30%;
        gap: 5px;

        .hero-text-wrapper {
            width: 100%;
            h1 {
                font-weight: 700;
                font-size: 4.25em;
            }
            h3 {
                line-height: 1.5em;
                margin-bottom: 0.5em;
            }
            .about-p {
                max-width: 56.25ch;
            }
        }
        .hero-img-wrapper {
            width: 250px;
            height: 250px;
            display: grid;
            place-items: center;
            position: relative;
            overflow: hidden;

            .square-out {
                position: relative;
                overflow: hidden;
                width: 100%;
                height: 100%;
                // animation: reveal 1s ease-in-out forwards;
                transform-origin: top;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                }
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $border-color-hero;
                    z-index: 1;
                    animation: reveal 1s reverse forwards ;                    
                    transition-delay: 2s;   
                    transform-origin: bottom;                 
                }
            }


        }
    }
}


@keyframes reveal{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}

/* animation keyframes */
@keyframes zeroHeight {
    to {
        visibility: hidden;
    }
}

.zero-height {
    animation-name: zeroHeight;
    animation-fill-mode: forwards;
    transition: all ease-in-out;
}

@keyframes openerAnimation {
    to {
        background-position: top left;
    }
}

.slide-down {
    animation-name: openerAnimation;
    animation-delay: 1.8s;
    animation-fill-mode: forwards;
}

.animate-delay {
    animation-delay: 3.2s;
}

.animate-duration-2s {
    animation-duration: 0.5s;
}

.animate-duration-2s {
    animation-duration: 0.5s;
}

.animate-duration-2s {
    animation-duration: 1s;
}

.animate-duration-3s {
    animation-duration: 1.5s;
}
.animate-duration-4s {
    animation-duration: 2s;
}

.services {
    position: relative;
    padding: 120px 0;
    align-items: baseline;
    background-color: #fff7f4;
    h2 {
        font-size: 50px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    h4 {
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 30px;
    }
    .about-p {
        margin-bottom: 30px;
    }
    .hero-wrapper {
        display: flex;
        .hero-img-wrapper {
            position: relative;
            img {
                object-fit: contain;
                width: 100%;
                justify-content: right;
            }
        }
    }
}

.projects-section {
    position: relative;
    background-color: $section-bg-color-light-blue;
    .projects-grid-wrapper {
        .section-header {
            h1 {
                padding: 120px 0 0;
                font-weight: 400;
                font-size: 4.25em;
            }
        }
        .prev-work-container-scroll {
            height: 750px;
            overflow-y: scroll;
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
            &::-webkit-scrollbar {
                display: none;
            }
            .previous-work {
                position: relative;
                padding: 20px 20px 55px;
                &:first-child {
                    padding-top: 50px !important;
                }
                .prev-work-detail {
                    position: relative;
                    display: flex;
                    align-items: center;
                    .prev-h2-title {
                        color: $alt-link-color;
                    }
                    .date-class {
                        margin-bottom: 10px;
                        display: block;
                    }
                    p {
                        margin-bottom: 25px;
                    }
                }
                .prev-work-img-right {
                    position: relative;
                    img {
                        width: 80%;
                    }
                }
            }
        }
    }
}

.experiences-section {
    display: flex;
    align-items: center;
    .experiences-grid-container {
        width: 100%;
        #work-experience {
            .blocks {
                margin: 1rem 0;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 24px;
                padding-top: 50px;
                padding-bottom: 100px;
                .experience-block {
                    .company {                        
                        font-size: 20px;
                        color: $border-color-hero;
                        line-height: 29px;
                        font-weight: 600;
                        margin: 0;
                        text-decoration: none;
                        &:hover {
                            opacity: 0.7;
                            cursor: pointer;
                        }
                    }
                    .title {
                        opacity: 0.9;
                        font-weight: 400;
                        margin: 2px 0 0;
                    }
                    .date {
                        margin-top: 2px;
                        font-size: 14px;
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}

.slim-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h5 {
        padding-top: 4em;
        color: #2f4f4f;
        font-size: 32px;
        font-weight: 300;
        line-height: 40px;
        width: 65%;
    }
}

footer {
    padding: 50px 15px;
    background-color: $section-bg-color-light-blue;
    .ftr-container {
        .ftr-row {
            h6 {
                font-size: 12px;
                color: #789;
                letter-spacing: 1.5px;
                font-weight: 700;
                margin-bottom: 5px;
                margin-top: 16px;
                text-transform: uppercase;
            }
            h2 {
                margin-top: 0;
                margin-bottom: 0;                
                color: #192735;
                text-decoration: none;
                font-size: 48px;
                font-weight: 600;
            }
            .email {
                font-weight: 500;
                text-decoration: none;
                color: #192735;
                font-size: 20px;
                line-height: 20px;
                margin-top: 16px;
            }
            .links {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-wrap: wrap;
                    li {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

@media only screen and(min-device-width: 300px) and(max-device-width: 812px) {
    .hero {
        .hero-wrapper {

            grid-template-columns: 100%;
            .hero-text-wrapper {
                padding: 25px;
                h1 {
                    font-size: 2.813em;
                    line-height: 1.3em;
                }
                .about-p {
                    font-size: 1em;
                    line-height: 2em;
                }
            }
            .hero-img-wrapper {
                display: none;
            }

            .hero-text-wrapper.mobile {
                padding-top: 0;
            }
        }
    }

    .services {
        .container.hero-wrapper {
            display: block;
            .hero-img-wrapper {
                display: none;
            }
        }
    }

    .prj-row {
        margin-bottom: unset !important;
    }
    .projects-section {
        .projects-grid-wrapper {
            .section-header {
                h1 {
                    font-size: 2.813em;
                }
            }
            .prev-work-container-scroll {
                .previous-work {
                    .prev-work-img-right {
                        img {
                            width: 100%;
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }
    .experiences-seciton {
        height: 100%;
        .experiences-grid-container {
            #work-experience {
                .blocks {
                    display: flex;
                    flex-flow: column;
                    .experience-block {
                        text-align: center;
                        margin-bottom: 35px !important;
                    }
                }
            }
        }
    }
    .slim-wrapper {
        h5 {
            width: 100%;
        }
    }
}

// ipad

@media only screen and(min-device-width: 768px) and(max-device-width: 1024px) {
    .hero {
        .hero-wrapper {

            grid-template-columns: 100%;
            .hero-text-wrapper {
                padding: 25px;
                h1 {
                    font-size: 2.813em;
                    line-height: 1.3em;
                }
                .about-p {
                    font-size: 1em;
                    line-height: 2em;
                    max-width: 100%;
                }
            }
            .hero-img-wrapper {
                display: none;
            }

            .hero-text-wrapper.mobile {
                padding-top: 0;
            }
        }
    }

    .services {
        .container.hero-wrapper {
            display: block;
            .hero-text-wrapper.mobile.col-md-6 {
                max-width: 100% !important;
            }
            .hero-img-wrapper {
                display: none;
            }
        }
    }

    .prj-row {
        margin-bottom: unset !important;
    }
    .projects-section {
        .projects-grid-wrapper {
            .section-header {
                h1 {
                    font-size: 2.813em;
                }
            }
            .prev-work-container-scroll {
                .previous-work {
                    .prev-work-img-right {
                        img {
                            width: 100%;
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }
    .experiences-seciton {
        height: 100%;
        .experiences-grid-container {
            #work-experience {
                .blocks {
                    display: flex;
                    flex-flow: column;
                    .experience-block {
                        text-align: center;
                        margin-bottom: 35px !important;
                    }
                }
            }
        }
    }
    .slim-wrapper {
        h5 {
            width: 100%;
        }
    }
}
