@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap");
@import url("https://rsms.me/inter/inter-ui.css");

@media screen and (min-width: 1024px) {
    html {
        scroll-behavior: smooth;
    }
}
/*
body {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    section,footer {
        scroll-snap-align: start;
    }
}*/

$font-family: "Inter UI", "Poppins", Arial, sans-serif;
$font-family-medium: "Eina03 Medium", "Poppins", Arial, sans-serif;
$font-family-bold: "Eina03 Bold", "Poppins", Arial, sans-serif;
$section-bg-color-light-blue: #f3fdff;
$border-color-hero: #e91e63;
$border-color-services: #edcbbe;
$alt-link-color: #008aae;
*,
*::before,
*::after,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    li {
        font-family: $font-family;
    }
    span,
    li {
        color: #c4c4c4;
        font-weight: 300;
    }
    h1,
    h2,
    h3,
    h4 {
        opacity: 0.8;
    }

    a {
        color: #000;
    }

    .btn-primary {
        font-family: $font-family;
        padding: 15px 40px;
        background-color: transparent;
        color: $border-color-hero;
        border-color: $border-color-hero;
        &:hover {
            background-color: $border-color-hero;
            color: #fff;
            border-color: $border-color-hero;
        }
    }

    .hero-a-link {
        color: $border-color-hero;

        &:hover {
            text-decoration: none;
        }
    }
}

.section-in-view {
    border: 20px solid transparent;

    &::before,
    &::after {
        z-index: 100;
        content: "";
        user-select: none;
        pointer-events: none;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        border: inherit;
        border-bottom-width: 0;
        border-color: $border-color-hero;
        will-change: border-color;
        transition: border-width 0.4s cubic-bezier(0.18, 0.98, 0.45, 1),
            border-color 1s cubic-bezier(0.18, 0.98, 0.45, 1);
    }
    &::after {
        border-width: 0;
        border-bottom-width: calc(var(--body-border-width, 20px) * 1 / 1 + 0px);
    }
}

.section-one-scrolled {
    &::before,
    &::after {
        border-color: $border-color-services;
        transition: border-width 0.4s cubic-bezier(0.18, 0.98, 0.45, 1),
            border-color 1s cubic-bezier(0.18, 0.98, 0.45, 1);
    }
}

.section-services-scrolled {
    &::before,
    &::after {
        border-color: $alt-link-color;
        transition: border-width 0.4s cubic-bezier(0.18, 0.98, 0.45, 1),
            border-color 1s cubic-bezier(0.18, 0.98, 0.45, 1);
    }
}

.standard {
    position: relative;
    padding-left: 3px;
    display: inline-block;
    &::after {
        content: "";
        display: block;
        width: 20%;
        height: 8px;
        background: #ffe4e1;
        opacity: 0;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        bottom: -8px;
        transform: translateY(50%);
        transition: all 0.3s ease;
        z-index: -2;
    }
    &:hover {
        &::after {
            opacity: 1;
            width: 100%;
        }
    }
}

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    .hero-wrapper {
        align-items: center;

        .hero-text-wrapper {
            h1 {
                font-weight: 700;
                font-size: 4.25em;
            }
            h3 {
                line-height: 1.5em;
                margin-bottom: 0.5em;
            }
            .about-p {
                font-size: 1.188em;
                line-height: 1.875em;
                font-weight: 400;
                margin-bottom: 1em;
                opacity: 0.8;
            }
        }
        .hero-img-wrapper {
            img {
                float: right;
                width: 418px;
                object-fit: cover;
            }
        }
    }
}

.hero.services {
    padding-top: 200px;
    align-items: baseline;
    h2 {
        font-size: 50px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    h4 {
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 30px;
    }
    .about-p {
        margin-bottom: 30px;
    }
    .hero-wrapper {
        .hero-img-wrapper {
            img {
                object-fit: contain;
            }
        }
    }
}

.projects-section {
    min-height: 100vh;
    background-color: $section-bg-color-light-blue;
    .projects-grid-wrapper {
        height: 100vh;

        .section-header {
            padding-top: 150px;
            h1 {
                font-weight: 400;
                font-size: 4.25em;
            }
        }
        .projects-cards-wrapper {
            padding-top: 100px;
            .prj-row {
                margin-bottom: 60px;
                .prj-cards {
                    display: flex;
                    justify-content: flex-start;
                    column-gap: 30px;
                    .picture {
                        width: 30%;
                        img {
                            width: 100%;
                            height: auto;
                            object-fit: contain;
                        }
                    }
                    .card-details {
                        width: 70%;
                        display: flex;
                        flex-direction: column;
                        .header-link {
                            text-decoration: none;
                            cursor: pointer;
                            &:hover {
                                h3 {
                                    color: $border-color-hero;
                                }
                            }
                            h3 {
                                margin-bottom: 15px;
                            }
                        }

                        p {
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }
}

.experiences-seciton {
    height: 100vh;
    display: flex;
    align-items: center;
    .experiences-grid-container {
        #work-experience {
            padding: 0 50px;
            .blocks {
                margin: 1rem 0;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 24px;
                padding-top: 50px;
                padding-bottom: 100px;
                .experience-block {
                    .company {
                        font-family: $font-family;
                        font-size: 20px;
                        color: $border-color-hero;
                        line-height: 29px;
                        font-weight: 600;
                        margin: 0;
                        text-decoration: none;
                        &:hover {
                            opacity: 0.7;
                            cursor: pointer;
                        }
                    }
                    .title {
                        opacity: 0.9;
                        font-weight: 400;
                        margin: 2px 0 0;
                    }
                    .date {
                        margin-top: 2px;
                        font-size: 14px;
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}

.slim-wrapper {
    display: flex;
    align-items: center;
    padding-top: 4em;
    justify-content: space-between;

    h5 {
        padding: 0;
        color: #2f4f4f;
        font-size: 32px;
        font-weight: 300;
        line-height: 40px;
    }
}

footer {
    padding: 50px 15px;
    background-color: $section-bg-color-light-blue; 
    .ftr-container {
        .ftr-row {
            h6 {
                font-size: 12px;
                color: #789;
                letter-spacing: 1.5px;
                font-weight: 700;
                margin-bottom: 5px;
                margin-top: 16px;
                text-transform: uppercase;
            }
            h2 {
                margin-top: 0;
                margin-bottom: 0;
                font-family: Averia Gruesa Libre, serif;
                color: #192735;
                text-decoration: none;
                font-size: 48px;
                font-weight: 600;
            }
            .email {
                font-weight: 500;
                text-decoration: none;
                color: #192735;
                font-size: 20px;
                line-height: 20px;
                margin-top: 16px;
            }
            .links {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    li {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 300px) and (max-width: 374px) {
    .hero {
        .hero-wrapper {
            .hero-text-wrapper {
                padding-top: 150px;
                h1 {
                    font-size: 2.813em;
                    line-height: 1.3em;
                }
                .about-p {
                    font-size: 1em;
                    line-height: 2em;
                }
            }
            .hero-img-wrapper {
                padding-left: 15px;
                margin-top: 50px;
                img {
                    float: none;
                    width: 100%;
                    height: 100px;
                }
            }

            .hero-text-wrapper.mobile {
                padding-top: 0;
            }
        }
    }

    .prj-row {
        margin-bottom: unset !important;
    }
    .projects-section {
        height: 100% !important;
        .projects-grid-wrapper {
            height: 100%;

            .projects-cards-wrapper {
                .prj-cards {
                    display: block !important;
                    .picture,
                    .card-details {
                        width: 100% !important;
                    }
                    .card-details {
                        padding-top: 30px;
                    }
                }
            }
            .section-header {
                h1 {
                    font-size: 3.25em;
                }
            }
        }
    }
    .experiences-seciton {
        height: 100%;
        .experiences-grid-container {
            #work-experience {
                padding: 0;
                .blocks {
                    display: flex;
                    flex-flow: column;
                    .experience-block {
                        text-align: center;
                        margin-bottom: 35px !important;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 375px) and (max-width: 413px) {
    .hero {
        .hero-wrapper {
            .hero-text-wrapper {
                padding-top: 150px;
                h1 {
                    font-size: 2.813em;
                    line-height: 1.3em;
                }
                .about-p {
                    font-size: 1em;
                    line-height: 2em;
                }
            }
            .hero-img-wrapper {
                padding-left: 15px;
                margin-top: 50px;
                img {
                    float: none;
                    width: 100%;
                    height: 400px;
                }
            }
            .hero-text-wrapper.mobile {
                padding-top: 0;
            }
        }
    }
    .projects-section {
        height: 100% !important;
        .projects-grid-wrapper {
            height: 100%;

            .projects-cards-wrapper {
                .prj-cards {
                    display: block !important;
                    .picture,
                    .card-details {
                        width: 100% !important;
                    }
                    .card-details {
                        padding-top: 30px;
                    }
                }
            }
            .section-header {
                h1 {
                    font-size: 3.25em;
                }
            }
        }
    }
    .prj-row {
        margin-bottom: unset !important;
    }
    .experiences-seciton {
        height: 100%;
        .experiences-grid-container {
            #work-experience {
                padding: 0;
                .blocks {
                    display: flex;
                    flex-flow: column;
                    .experience-block {
                        margin-bottom: 35px !important;
                        text-align: center;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 414px) and (max-width: 812px) {
    .hero {
        .hero-wrapper {
            .hero-text-wrapper {
                padding-top: 150px;
                h1 {
                    font-size: 2.813em;
                    line-height: 1.3em;
                }
                .about-p {
                    font-size: 1em;
                    line-height: 2em;
                }
            }
            .hero-img-wrapper {
                padding-left: 15px;
                margin-top: 50px;
                img {
                    float: none;
                    width: 100%;
                    height: 400px;
                }
            }
            .hero-text-wrapper.mobile {
                padding-top: 0;
            }
        }
    }
    .projects-section {
        height: 100% !important;
        .projects-grid-wrapper {
            height: 100%;

            .projects-cards-wrapper {
                .prj-cards {
                    display: block !important;
                    .picture,
                    .card-details {
                        width: 100% !important;
                    }
                    .card-details {
                        padding-top: 30px;
                    }
                }
            }
            .section-header {
                h1 {
                    font-size: 3.25em;
                }
            }
        }
    }
    .prj-row {
        margin-bottom: unset !important;
    }
    .experiences-seciton {
        height: 100%;
        .experiences-grid-container {
            #work-experience {
                padding: 0;
                .blocks {
                    display: flex;
                    flex-flow: column;
                    .experience-block {
                        margin-bottom: 35px !important;
                        text-align: center;
                    }
                }
            }
        }
    }
}
