@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap");
@import url("https://rsms.me/inter/inter-ui.css");

$font-family: "Inter UI", "Poppins", Arial, sans-serif;
$font-family-medium: "Eina03 Medium", "Poppins", Arial, sans-serif;
$font-family-bold: "Eina03 Bold", "Poppins", Arial, sans-serif;

*,
*::before,
*::after,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    li {
        font-family: $font-family;
    }
    border: 20px solid transparent;
    &::before,
    &::after {
        z-index: 100;
        content: "";
        user-select: none;
        pointer-events: none;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        border: inherit;
        border-bottom-width: 0;
        border-color: #E91E63;
        will-change: border-color;
        transition: border-width 0.4s cubic-bezier(0.18, 0.98, 0.45, 1),
            border-color 1s cubic-bezier(0.18, 0.98, 0.45, 1);
    }

    p {
        color: #454545;
        font-size: 1em;
    }
}

body:after {
    border-width: 0;
    border-bottom-width: calc(var(--body-border-width, 20px) * 1 / 1 + 0px);
}

p,
span,
li {
    color: #c4c4c4;
    font-weight: 300;
}
h1{
    color:#303030;
}
h1, h2, h3,h4{
    color:#3d3d3d;
}

a {
    color: #00ffff;

    &:hover {
        text-decoration: none;
        color: #008080;
    }
}

.btn-primary {
    font-family: $font-family;
}

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;            
    .hero-wrapper {
        align-items: center;

        .hero-text-wrapper {
            h1 {
                font-weight: 700;
                font-size: 4.25em;
            }
            h3 {
                line-height: 1.5em;
                margin-bottom: 0.5em;
            }
            .about-p {
                font-size: 1.188em;
                line-height: 1.875em;
                font-weight: 400;
                margin-bottom: 1em;
            }

            .btn-primary {
                padding: 15px 40px;
                background-color: transparent;
                color: #E91E63;
                border-color: #E91E63;
                &:hover {
                    background-color: #E91E63;
                    color: #fff;
                    border-color: #E91E63;
                }
            }
        }
        .hero-img-wrapper {            
            img {
                float: right;
                width: 418px;                
                object-fit: cover;
            }
        }
    }
}

.hero.services{
    padding-top: 80px;
    align-items: baseline;
    h2{
        font-size:50px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    h4{
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 30px;
    }
    .about-p{
        margin-bottom: 30px;
    }
    .hero-wrapper{
        .hero-img-wrapper {
            img{
                object-fit: contain;
            }
        }
    }
}

.sub-hero-section {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #000;
    }

    min-height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;

    .w-row {
        .basic-column {
            padding-right: 5px;
            padding-left: 5px;
            .tag-wrapper {
                margin-top: 35px;
                margin-bottom: 35px;
                padding-right: 5px;
                padding-left: 5px;

                .card {
                    height: 340px;
                    padding: 30px;
                    border-radius: 8px;
                    background-color: transparent;
                    border: 0;
                    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
                    &:hover {
                        box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                            0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
                    }
                }
                .tagline.white-hero-tagline {
                    margin-bottom: 10px;
                    color: #fff;
                }
                .tagline {
                    font-size: 12px;
                    font-weight: 500;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }
                .card-headline {
                    margin-top: 10px;
                    color: #fff;
                }
                h3 {
                    margin-top: 10px;
                    margin-bottom: 10px;
                    font-size: 22px;
                    line-height: 32px;
                    font-weight: 400;
                }
                .button.default-button.card-cta {
                    position: absolute;
                    left: 30px;
                    bottom: 20px;
                    display: block;
                }
                .button.default-button {
                    -ms-flex-align: end;
                    align-items: flex-end;
                    background-color: #fff;
                    -webkit-transition: color 200ms ease, background-color 200ms ease, box-shadow 200ms ease;
                    transition: color 200ms ease, background-color 200ms ease, box-shadow 200ms ease;
                    color: #5b697a;
                }
                .button {
                    display: inline-block;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    padding: 9px 25px;
                    float: none;
                    border-radius: 4px;
                    background-color: #1991eb;
                    color: #fff;
                    line-height: 22px;
                }

                .card.card1-content {
                    position: relative;
                    background-image: url("https://bit.ly/34GIdHi");
                    background-position: 50% 50%;
                    background-size: cover;
                }
                .card.card2-content {
                    background-image: url("https://bit.ly/2EIMf6M");
                    background-position: 50% 50%;
                    background-size: cover;
                }
                .card.card3-content {
                    background-image: url("https://bit.ly/2QubyMv");
                    background-position: 50% 50%;
                    background-size: cover;
                }
            }
        }

        .w-col {
            position: relative;
            float: left;
            min-height: 1px;
        }
        .w-col-3 {
            width: 25%;
        }
        .w-col-6 {
            width: 50%;
        }
    }
}

@media only screen and (min-width: 300px) and (max-width: 374px) {
    .hero {
        .hero-wrapper {
            .hero-text-wrapper {
                padding-top: 150px;
                h1 {
                    font-size: 2.813em;
                    line-height: 1.3em;
                }                
                .about-p{
                    font-size: 1em;
                    line-height: 2em;
                }
            }
            .hero-img-wrapper {
                padding-left: 15px;
                margin-top: 50px;
                img{
                    float: none;
                    width: 100%;
                }
            }
        }
    }
    .sub-hero-section {
        padding: 10px;
    }
}
@media only screen and (min-width: 375px) and (max-width: 413px) {
    .hero {
        .hero-wrapper {
            .hero-text-wrapper {
                padding-top: 150px;
                h1 {
                    font-size: 2.813em;
                    line-height: 1.3em;
                }                
                .about-p{
                    font-size: 1em;
                    line-height: 2em;
                }
            }
            .hero-img-wrapper {
                padding-left: 15px;
                margin-top: 50px;
                img{
                    float: none;
                    width: 100%;
                }
            }
        }
    }
    .sub-hero-section {
        padding: 10px;
    }
}
@media only screen and (min-width: 414px) and (max-width: 812px) {
    .hero {
        .hero-wrapper {
            .hero-text-wrapper {
                padding-top: 150px;
                h1 {
                    font-size: 2.813em;
                    line-height: 1.3em;
                }                
                .about-p{
                    font-size:1em;
                    line-height: 2em;
                }
            }
            .hero-img-wrapper {
                padding-left: 15px;
                margin-top: 50px;
                img{
                    float: none;
                    width: 100%;
                }
            }
        }
    }
    .sub-hero-section {
        padding: 10px;
    }
}
