body {
    background-color: #e5e5f7;
    background-image: radial-gradient(#444cf7 0.75px, #e5e5f7 0.25px);
    background-size: 15px 15px;
    text-wrap: pretty;
}

main.container {
    background-image: url('/Assets/undraw_portfolio_update_re_jqnp.svg');
    background-repeat: no-repeat;
    width: 100%;
    background-position: 50% 10%;
}

.hero\:blurb {
    padding: 1.25rem;
    max-width: 640px;
    line-height: 1.2em;
    background-color: white;

    & a {
        text-decoration: underline;

        &:hover {
            color: #4800c4;
        }
    }
}

.box-shadow-primary {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}